{% extends 'base.html' %}

{% block title %}A Compliment{% endblock %}

{% block header %}A Compliment{% endblock %}

{% block content %}
    <p>Hi {{ person }}! I think you're {{ compliment }}!
    Would you like to play a game?</p>
    
    <form action="/game">
      <div>
        <input type="radio" name="response" value="yes"><label>Yes</label>
        <input type="radio" name="response" value="no"><label>No</label>
      </div>

      <div>
      <input type="submit" value="Submit"></form>
      </div>

    </form>
{% endblock %}