{% extends 'base.html' %}

{% block title %}Malibs Story{% endblock %}

{% block header %}Madlibs Story{% endblock %}

{% block content %}
    <p>Last month, I went to Disney World with {{person}}.</p>
    <p>We traveled for many hours in our {{color}} {{vehicle}}.</p>
    <p>Finally, we arrived and it was very {{adjective1}}.</p>
    <p>There were {{adjective2}} people {{verb1}}ing everywhere.</p>
    <p>There were also people dressed up in {{animal}} costumes.</p>
    <p>I wish it had been more {{adjective3}}, but we {{pasttenseverb1}} anyway.</p>
    <p>We also went on a(n) {{adjective1}} ride called Magic {{noun1}}.</p>
    <p>{{person}} nearly fell off a ride and had to be {{pasttenseverb1}}.</p>
    <p>Later, we went to the hotel and {{pasttenseverb2}}.</p>
    <p>Next year, I want to go to {{place}}, where we can {{verb2}}.</p>
{% endblock %}