{% extends 'base.html' %}

{% block title %}Madlibs Story{% endblock %}

{% block header %}Madlibs Story{% endblock %}

{% block content %}
<p>I arrived at the jungle in my {{color}} {{vehicle}}.</p>
<p>I take out my {{adjective1}} canteen.</p>
<p>There's a {{ adjective2}} {{animal}} with a {{adjective3}} {{noun1}} in his mouth right there in front of me in the {{adjective3}} trees!</p>
<p>I gaze at his {{adjective1}} {{noun2}}.</p>
<p>A sudden sound awakes me from my daydream!</p>
<p>A panther's {{verb1}}ing in front of my head! I {{verb2}} at his {{adjective2}} breath.</p>
<p>I remember I have a packet of {{food}} that makes go into a deep slumber!</p>
<p>I pushed it away from me in front of the {{noun3}}.</p>
<p>Yes he's eating it! I {{pasttenseverb1}} away through the {{adjective3}} jungle.</p>
<p>I meet my parents at the tent. Phew!</p>
<p>It’s been an exciting day in the jungle.</p>
<p>I can't wait to get to {{place}} where our home is.</p>
{% endblock %}