<!doctype html>
<html>
<head>
  <title>A Compliment</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
    <h1>Madlibs</h1>

    <p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
    When {{ person }} went to pick it up, it burst into flames in a totally
    {{ adjective }} way. The lab instructor stood at the front of the class with the 
    class {{animal}} and laughed. Everyone else finished eating their {{ food }} which was served for 
    lunch that day.</p>
</body>
</html>